  <% @posts.each do |post| %>
  <div class="private-square span6 text-center">
    <h1>
    <%= post.title %>
    </h1>
   
    <%= image_tag post.image %>
    
    <h5>
    <%= post.description %>
    </h5>
</br>
  </div>
  <% end %>