

  <% @posts.each do |post| %>
  <div class="private-square span6 text-center">
    <h1>
    <%= post.title %>
    </h1>
    
    <h5>
    <%= post.description %>
    </h5>
     
  </div>
  <% end %>

